extends layout

block content
  
  .container
    .main-content
      .page-header
        h1 Contact Katherine
      .row
        .col-xs-6
          h4 Location
          address
            strong Katherine Warner, MA, MFT
            br
            | 451 Lytton Avenue
            br
            | Palo Alto, CA 94301
            br
            a(href="https://www.google.com/maps/dir/Current+Location/451+Lytton+Ave+Palo+Alto+CA") Directions
            br
            .icon.icon-phone-btm.icon-fw
            |  
            a(href="tel:+1650-308-4491", target="_blank") 650-308-4491
            br
            .icon.icon-envelope-btm.icon-fw
            |  
            a(href="mailto:info@kwmft.com", target="_blank") info@kwmft.com
          .embed-container
            iframe(
              width="600"
              height="450"
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAPgvOtr3tUp06NFKCm3nd2OL7ap4mJV0&q=451+Lytton+Ave+Palo+Alto+CA"
              allowfullscreen
            )
        .col-xs-6
          h4.header Send a Message
          .quick-contact
            template(v-if="messageSent")
              .text-xs-center.message-sent
                p.icon.icon-check-circle.icon-5x.text-success
                h4 Message Sent!
                p You should receive a response shortly.
                button.btn.btn-link(v-on:click="reset") Send another message
            template(v-else)
              .alert.alert-danger(v-if="error")
                span {{ error.message }}
              form.message-form(transition="fade", v-on:submit.prevent="onSubmit", name="contact", method="POST", action="/contact")
                .form-group
                  label.sr-only(for="name") Name
                  input.form-control(v-model="name", name="name", placeholder="Your name", required)
                .form-group
                  label.sr-only(for="email") Email Address
                  input.form-control(v-model="email", type="email", name="email", placeholder="Your email address", required)
                .form-group
                  label.sr-only(for="message") Message
                  textarea.form-control(v-model="message", rows="4", placeholder="Enter your message", required)
                //div#captcha(v-recaptcha, data-sitekey="6Lcdzh4TAAAAAE41AqV4bGUR7Jg2sHv-Cfd9-aIB", style="transform:scale(0.9);transform-origin:0 0")
                button.btn.btn-primary.btn-block(v-el:submitBtn, type="submit")
                  span(v-if="isLoading")
                    i.icon.icon-fw.icon-spinner.icon-spin
                    | Sending Message
                  span(v-else)
                    | Send Message 
                    i.icon.icon-fw.icon-angle-right
